.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  width: 400px;
  max-width: 90%;
  border-radius: 8px;
}

.modal img {
  display: block;
  margin: 10px auto;
}